html, body{
    background-color:#e4e4e4;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-image: url("/images/pexels-tima-miroshnichenko-5686123 2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    background-color: rgba(0,0,0, 0.4);
    height: 50%;
    margin-top: 20vh;
    color: white;
    padding: 30px;
}



label {
    text-transform: uppercase;
}

input {
    margin-bottom: 15px;
}

legend {
    text-transform: uppercase;
    text-align: center;
}

button {
    text-transform: uppercase;
    width: 100%;
}

p {
    font-size: 30px;
    text-align: center;
}

