html, body {
    background-color:#e4e4e4;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.nav-link {
     color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.all {
    margin-top: 60px;
}

.squad {
    border-radius: 10px;
    background-color: white;
    color: black;
    border: solid 1px black;
    margin: 5px 5px;
}

.name {
    text-align: left;
}

.code {
    text-align: center;
}

.details{
    text-align: right;
}

.col {
    margin: 7px 14px;
}

hr {
    border: 0;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
    text-align: center;
    margin: 7px 7px;
}

.balance {
    border-radius: 10px;
    background-color: white;
    color: black;
    border: solid 1px black;
    margin: 5px 5px;
    text-align: center;
}


.row {
    text-align: center;
}

.add-join {
    margin-top: 20px;
}