<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${oneSquad.name}" style="text-align: center">Squad</h1>

    <div th:each="users: ${users}">
        <h3 th:text="${users.login}"></h3>

    </div>
<hr>
    Add balance, choose users:
    <form method="post" th:action="@{/user/addBalance}" th:object="${users}">
        <ul>
            <li th:each="user, stat: ${users}"><input type="checkbox" th:name="list" th:value="${user.idUsers}"><label th:text="${user.login}"></label></li>
        </ul>
        <label>Value:</label><input type="text" th:value="${inputValue}" name="inputValue">
        <label>Comment:</label><input type="text" th:value="${inputComment}" name="inputComment">
        <button type="submit">ADD</button>
    </form>
</div>
</body>
</html>